.home-post
  .home-post__box
    商品の情報を入力
  = form_tag('/homes', method: :post) do
    .home-post__title
      =f.label :title do
        %input{:name => "yourname", :placeholder => "タイトル", :type => "text"}/
    .home-post__comment
      =f.label :comment do
        %textarea#comment{:name => "comment", :placeholder => "ここには自由にコメントを記入してください"}
    .home-post__button
      %input{type:"submit", value:"投稿する"}